*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, "Open Sans", sans-serif;
    color: #222;
}

.book-list{
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

.book{
    background: #ece9e9;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.book h1{
    margin-top: .5rem;
}

.book h4{
    color: #5656f9;
    margin-top: .2rem;
    font-size: .6rem;
}

@media screen and (min-width: 768px) {
    .book-list{
        grid-template-columns: repeat(3, 1fr);
    }
}